header{
    border-bottom: 2px solid #000
}
.logo__container{
    text-align: center;
}
header .logo__container img{
    height: 90px;
    width: 150px;
    background-size: cover;
}
.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}


@media screen and  (min-width: 800px){
    .logo__container{
        text-align: left;
        padding-left: 6rem;
    }
    .main__container{
        padding: 0 5%;
    }

}